.about{
    max-width: 1000px;
    width: 95%;
    margin: auto;
    padding: 100px 0px;


}


.aboutCard{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    max-width: 300px;
    margin: auto;

    >div{
        background-color: white;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        padding: 20px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

        img{
            width: 80%;
            aspect-ratio: 1 / 1;
        }
    }

    hr{
        width: 25%;
        height: 4px;
        background-color: var(--female-pink);
        border-radius: 2px;
        border: none;
    }
}

@media only screen and (min-width: 768px) {
    .about{
        padding: 50px 0px;
    }
}