.testimonials{
    >div{
        padding: 200px 0px;
        max-width: 800px;
        margin: auto;
        >div{
            width: 100%;
            aspect-ratio: 16 / 6;
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
            border-radius: 5px;
            background-color: #FCFCFC;
            position: relative;

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;


            >div{
                min-height: 130%;
                background: white;
                width: 80%;
                position: absolute;
                box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 50px 20px 20px 20px;
                gap: 20px;

                h3{
                    margin-top: 20px;
                }

                >div{
                    text-align: center;
                }

                >img{
                    width: 100px;
                    border-radius: 50%;
                    border: 5px solid black;
                    padding: 5px;
                    position: absolute;
                    top: -50px;
                }

                >a{
                    background-color: var(--male-blue);
                    color: white;
                    text-decoration: none;
                    padding: 10px 20px;
                    border-radius: 5px;
                }
            }
        }
    }
}

.testimonials>div{
    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        user-select: none;
    }

    button:hover{
        transform: scale(1.1);
        transition: all 0.2s ease-in-out;
    }

    button:active{
        transform: scale(1);
        transition: all 0.2s ease-in-out;
    }
}

@media only screen and (max-width: 768px) {
    .testimonials {
        p{
            font-size: 0.9rem;
            line-height: 1.3rem;
        }

        button{
            scale: 0.7;
            height: 100%;
        }
    }
}