.heads {
    position: absolute;
    z-index: -1;
    opacity: 0.5;

    max-height: 80vh;
    overflow: hidden;
    img {
        width: 60px;
        border-radius: 50%;
        border: 3px solid black;

        padding: 3px;
        animation: image-disk 2s linear infinite;
    }
}

.heads::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, #fff, transparent);
    z-index: 1;
}

@keyframes image-disk {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0px);
    }
}