
.hero{
    min-height: 80vh;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 30px;

    h1{
        font-size: 2.5rem;
        font-family: "Righteous", sans-serif;
        font-weight: normal;
    }

    h2{
        color: var(--my-purple);
        font-weight: bold;
    }

    h2, h3{
        text-align: center;
    }

    p{
        max-width: 500px;
        text-align: center;
    }
}

.buttons{
    max-width: 300px;;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    img{
        width: 100%;
        filter: invert(0.7);
    }

    img:hover{
        filter: invert(1);
    }
}

.joinBtn{
    color: white;
    text-decoration: none;
    background-color: var(--female-pink);
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 1;
    text-transform: uppercase;
}


.backgroundLogo{
    width: 100%;
    max-height: 80vh;
    opacity: 0.2;
    position: absolute;
    scale: 1.5;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    z-index: -1;
}

@media only screen and (min-width: 768px) {
    .backgroundLogo{
        scale: 1;
    }
}